# 依赖目录
node_modules
/node_modules
**/node_modules

HelloWps

# 环境变量文件
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

# 操作系统文件
.DS_Store
Thumbs.db

# 构建输出目录
dist/
build/

# 临时缓存文件
.cache/
.vite/
coverage/


# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 备份和临时文件
backup/
*.bak
*.temp
*.tmp

# Bun

# 建议忽略以下与Vue相关的常见文件和目录：

# 构建输出目录（如使用Vite或Vue CLI时）
dist/
build/

# IDE相关
.idea/
.vscode/


# 依赖锁文件（如不希望锁定依赖时可忽略）
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# 其他常见忽略项
*.local
*.sublime-project
*.sublime-workspace
